/* Overall styles */
body {background-color: #000000;}
main {
   
    margin: 0;
    padding: 5%;
    background-color: #000000;
    color: #fff;
    font-family: bs;


}
main h1 {
    font-family: mc;
    font-size:xx-large;
    text-align: center;
    color: #dbdbdb;
}


  @font-face {
    font-family: 'ts';
    src: url('fonts/Top Secret.ttf') format('truetype'); /* Legacy Browsers */
}

@font-face {
    font-family: 'ls';
    src: url('fonts/LeagueSpartan-Black.ttf') format('truetype'); /* Legacy Browsers */
}

@font-face {
    font-family: 'mc';
    src: url('fonts/Minecrafter.Alt.ttf') format('truetype'); /* Legacy Browsers */
}
@font-face {
    font-family: 'cr';
    src: url('fonts/ClassroomPersonalUse-7Bv34.ttf') format('truetype'); /* Legacy Browsers */
}
@font-face {
    font-family: 'be';
    src: url('fonts/BomberEscortCondensedItalic-GOlPm.otf') format('truetype'); /* Legacy Browsers */
}
@font-face {
    font-family: 'hb';
    src: url('fonts/HelvineBlurDemoRegular-WppJY.otf') format('truetype'); /* Legacy Browsers */
}


header {
    background-color: #000000;
    color: #bc0505;
    padding: 20px;
    font-family: mc;
    
    
}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    background-color: #fff;
    color: #333;
}

  
  /* Footer */
  footer {
    background-color: #000000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  

  
  /* Blog post container */
  .blog-post {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    transition: all 0.2s ease-in-out; /* Add smooth transitions */
  }
  
  /* Blog post hover effect */
  .blog-post:hover {
    background-color: #eee;
    cursor: pointer;
  }
  
  /* Blog post title */
  .blog-post h2 {
    color: #fff;
    margin-bottom: 10px; /* Add some space after title */
  }
  
  /* Blog post content */
  .blog-post p {
    color: #ffffff;
    line-height: 1.5; /* Improve readability */
  }
  
  /* Interactive elements (buttons, etc.) */
  button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  button:hover {
    background-color: #222;
  }
  
  /* Social media buttons (replace placeholders with actual buttons) */
  .social-media {
    margin-top: 15px;
    text-align: center;
  }
  
  .social-media a {
    margin: 0 5px;
    display: inline-block;
  }
  
  @media (max-width: 767px) {
    nav ul li a {
      font-size: 10px;
    }
  main h1{
    font-size: x-large;
  }
  }