nav {
    position: fixed;
    top: 0;
    left: 0;
    font-family: mc;
    width: 100%; /* Cover entire width */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.95); /* Background color with 40% intensity */
    padding: 20px 0;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px; /* Reduced value */
    overflow: hidden; /* Clip content that overflows rounded corners */
    height: 80px; /* Fixed height for the navbar */
}
nav {
    z-index: 1000; /* Set a higher z-index for the navbar */
}

.big-card, .small-cards {
    z-index: 999; /* Set a lower z-index for the cards */
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 5px;
    margin-left: 5%;
    padding: 10px;
    width: 100%; /* Make the ul cover the entire width */
    height: 100%; /* Match the height of the navbar */
}

li {
    flex-grow: 1; /* Each list item takes equal space */
}

a {
    text-decoration: none;
    color: #bc0505; /* Change as per your design */
    transition: color 0.3s ease, font-size 0.3s ease; /* Add transition for font-size */
    display: flex; /* Allow anchor elements to expand */
    align-items: center; /* Center anchor content vertically */
    height: 100%; /* Match the height of the navbar */
}

a:hover {
    font-size: 150%; /* Increase font size on hover */
}



body {
    background-color: #424242;; /* Low intensity background color */
    color: #ffffff;
    padding-top: 100px; /* Adjust according to navbar height */
    margin: 0; /* Reset default margin */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    background-image: url('images/THE\ TOMORROW\ PEOPLE.gif'); /* Replace 'path/to/your/image.jpg' with your image path */;
}

@font-face {
    font-family: 'ts';
    src: url('fonts/Top Secret.ttf') format('truetype'); /* Legacy Browsers */
}

@font-face {
    font-family: 'ls';
    src: url('fonts/LeagueSpartan-Black.ttf') format('truetype'); /* Legacy Browsers */
}

@font-face {
    font-family: 'mc';
    src: url('fonts/Minecrafter.Alt.ttf') format('truetype'); /* Legacy Browsers */
}
@font-face {
    font-family: 'cr';
    src: url('fonts/ClassroomPersonalUse-7Bv34.ttf') format('truetype'); /* Legacy Browsers */
}
@font-face {
    font-family: 'be';
    src: url('fonts/BomberEscortCondensedItalic-GOlPm.otf') format('truetype'); /* Legacy Browsers */
}
@font-face {
    font-family: 'hb';
    src: url('fonts/HelvineBlurDemoRegular-WppJY.otf') format('truetype'); /* Legacy Browsers */
}

#command-center {
    text-align: center;
    padding: 50px 0;
}

#logo {
    width: 200px; /* Adjust size as needed */
    height: 200px; /* Adjust size as needed */
    object-fit: cover; /* Maintain aspect ratio */
    margin-bottom: 20px;
    border: 25px solid transparent; /* Make border transparent */
    border-radius: 50%; /* Make the container round */
    background-image: url('images/Fingerprint\ unlocking\ effect.gif'); /* Replace 'path/to/your/image.jpg' with your image path */
    background-size:initial; /* Adjust size to cover the container */
    background-position: center; /* Position the image in the center */
    
}

#command-center p {
    font-family:ls;
    font-size: 17px;
    line-height: 1.5;
    color: #0a0a0a; /* Adjust color as needed */
    border-radius: 10px;
    max-width: 600px;
    background-color: rgba(140, 174, 230, 0.9); /* Background color with 40% intensity */
    margin: 0 auto;
    padding: 10px;
    
}

#social-media-icons {
    margin-top: 3%;

}

#social-media-icons a {
    display: inline-block;
    margin: 0 20px;
    background-color: rgba(140, 174, 230, 0.9); /* Background color with 40% intensity */
    padding: 10px;
    border-radius: 10px;
    


}

#social-media-icons img {
    width: 40px; /* Adjust the size of the icons as needed */
    height: auto;
    border: none;

}


#about {
    overflow: hidden; /* Ensure the container clears floats */
}

.about-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-card {
    width: 80%; /* Adjust the width of the big card */
    max-width: 1000px; /* Limit maximum width */
    padding: 20px; /* Add padding for a frame effect */
    background-color:transparent;/* Background color for the big card */
    border: 2px solid #201f1f; /* Border for the big card */
    border-radius: 30px; /* Rounded corners for the big card */
    background-color: rgba(48, 48, 48, 0.4); /* Background color with 40% intensity */
    display: flex; /* Use flexbox for layout */
}

.about-image {
    width: 400px; /* Adjust the width of the image */
    height: 400px;
    border-radius: 8px; /* Rounded corners for the image */
    margin-right: 20px; /* Add space between image and text */
}

.about-text {
    width: 50%; /* Adjust the width of the text */
    color:  #cedadd;
    background-color: rgba(9, 9, 9, 0.8); /* Background color with 40% intensity */
    padding: 30px;
    font-family: sans-serif;
    
}
.about-text h2 {
    text-align: center; /* Center the heading */
    margin-bottom: 25px; /* Add space below the heading */
    color:  #c7dce1; /* Text color for the heading */
    font-family: ts;
    font-size: 30px;

}

h2 {
    text-align: center; /* Center the heading */
    margin-bottom: 5%; /* Add space below the heading */
    color:  #000000; /* Text color for the heading */
    font-family: ts;
    font-size: 30px;
}

h2 span {
    display: inline-block;
    background-color: rgba(140, 174, 230, 0.9); /* Background color with 40% intensity */
    padding: 10px;
    border-radius: 10px;
}

#p {
    color: #bc0505;
}


#skills {
    overflow: hidden; /* Ensure the container clears floats */
    margin-top: 50px; /* Add some space above the skills section */
}

.skills-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.big-card {
    width: 80%; /* Adjust the width of the big card */
    max-width: 1000px; /* Limit maximum width */
    padding: 20px; /* Add padding for a frame effect */
    background-color:transparent;/* Background color for the big card */
    border: 2px solid #201f1f; /* Border for the big card */
    border-radius: 30px; /* Rounded corners for the big card */
    margin-left: 11%;
    background-color: rgba(48, 48, 48, 0.4); /* Background color with 40% intensity */


}

.small-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Adjust the number of columns */
    gap: 20px; /* Adjust the gap between cards */
}

.skill-card {
    padding: 20px; /* Add padding for a frame effect */
    background-color: rgba(140, 174, 230, 0.9); /* Background color with 40% intensity */
    border-radius: 20px; /* Rounded corners for the small card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a shadow for depth */
    text-align: center; /* Center align text */
    transition: transform 0.3s ease; /* Add transition for smoothness */
}

.skill-image {
    width: 100px; /* Adjust the width of the skill image */
    height: 100px; /* Adjust the height of the skill image */
   
    margin-bottom: 10px; /* Add space below the image */
}

.skill-description {
    color: #000000; /* Text color for the skill description */
    font-size: 14px; /* Font size for the skill description */
    font-weight: bold;
}

.skill-card:hover {
    transform: scale(1.1); /* Zoom effect on hover */
}




.skills-content2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.big-card2 {
    width: 80%; /* Adjust the width of the big card */
    max-width: 1000px; /* Limit maximum width */
    padding: 20px; /* Add padding for a frame effect */
    background-color:transparent;/* Background color for the big card */
    border: 2px solid #201f1f; /* Border for the big card */
    border-radius: 30px; /* Rounded corners for the big card */
    margin-left: 11%;
    background-color: rgba(48, 48, 48, 0.4); /* Background color with 40% intensity */
    margin-left: 10%;
    margin-top: 4%;
}

.small-cards2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Adjust the number of columns */
    gap: 20px; /* Adjust the gap between cards */
}

.skill-card2 {
    padding: 20px; /* Add padding for a frame effect */
    background-color: rgba(140, 174, 230, 0.9); /* Background color with 40% intensity */
    border-radius: 20px; /* Rounded corners for the small card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a shadow for depth */
    text-align: center; /* Center align text */
    transition: transform 0.3s ease; /* Add transition for smoothness */
}

.skill-image2 {
    width: 100px; /* Adjust the width of the skill image */
    height: 100px; /* Adjust the height of the skill image */
   
    margin-bottom: 10px; /* Add space below the image */
}

.skill-description2 {
    color: #000000; /* Text color for the skill description */
    font-size: 14px; /* Font size for the skill description */
    font-weight: bold;
}

.skill-card2:hover {
    transform: scale(1.1); /* Zoom effect on hover */
}


#projects {
    margin-top: 50px; /* Adjust margin as needed */
}

#projects {
    overflow: hidden; /* Ensure the container clears floats */
    margin-top: 50px; /* Add some space above the projects section */
}

.projects-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pbig-card {
    width: 80%; /* Adjust the width of the big card */
    max-width: 1000px; /* Limit maximum width */
    padding: 20px; /* Add padding for a frame effect */
    background-color:transparent;/* Background color for the big card */
    border: 2px solid #201f1f; /* Border for the big card */
    border-radius: 30px; /* Rounded corners for the big card */
    margin-left: 11%;
    background-color: rgba(48, 48, 48, 0.4); /* Background color with 40% intensity */
    margin-left: 10%;

}

.psmall-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Adjust the number of columns */
    gap: 50px; /* Adjust the gap between cards */
}

.project-card {
    padding: 100px; /* Add padding for a frame effect */
    background-color: rgba(140, 174, 230, 0.9); /* Background color with 40% intensity */
    border-radius: 20px; /* Rounded corners for the small card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a shadow for depth */
    text-align: center; /* Center align text */
    transition: transform 0.3s ease; /* Add transition for smoothness */
}

.project-image {
    width: 100px; /* Adjust the width of the project image */
    height: 100px; /* Adjust the height of the project image */
    border-radius: 50%; /* Make the image circular */
    margin-bottom: 10px; /* Add space below the image */
}

.project-description {
    color: #000000; /* Text color for the project description */
    font-size: 14px; /* Font size for the project description */
    font-weight: bold;
}

.project-card:hover {
    transform: scale(1.1); /* Zoom effect on hover */
}


#contact {
    margin-top: 3%;
    background-color: rgba(0, 0, 0, 1); /* Background color with 40% intensity */
    color: #fff; /* Text color for the contact section */
    padding: 20px; /* Add padding */
    text-align: center; /* Center-align text */
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
}

.contact-icons a {
    color: #fff; /* Icon color */
    font-size: 24px; /* Adjust icon size */
    margin: 0 10px; /* Adjust spacing between icons */
    text-decoration: none; /* Remove underline from links */
}



.contact-icons  {
    margin-top: 2%;
    

}

.contact-icons a {
    display: inline-block;
    margin: 0 40px;
}

.contact-icons  img {
    width: 50px; /* Adjust the size of the icons as needed */
    height: auto;
}







/* Media query for tablets and small desktops */
@media (max-width: 1024px) {
    nav {
        
        height: auto; /* Allow the navbar to adjust its height */
        border-bottom-left-radius: 30px; /* Remove border radius */
        border-bottom-right-radius: 30px; /* Remove border radius */
        font-size: 10px;
    }

    ul {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 1px;
        margin-left: 5%;
        padding: 1px;
        width: 100%; /* Make the ul cover the entire width */
        height: 100%; /* Match the height of the navbar */
    }
    
    li {
        flex-grow: 1; /* Each list item takes equal space */
    }
   
}

@media (max-width: 1024px) {
a:hover {
    font-size: 100%;
color: #2b0101;}
    /* Other adjustments as needed */
}




@media (max-width: 1024px) {
.big-card {
    margin-left: 10%;
}
}

@media (max-width: 1024px) {
    .big-card2 {
        margin-left: 10%;
    }
    }
@media (max-width: 1024px) {
.pbig-card {
    margin-left: 6%;
}
}
    

@media (max-width: 1024px) {
    .project-card{
        padding: 80px;
    }
    }
    
    @media (max-width: 767px) {
        .big-card {
            margin-left: 0%;
        }
        }
        
        @media (max-width: 767px) {
            .big-card2 {
                margin-left: 0%;
            }
            }
        @media (max-width: 1024px) {
        .pbig-card {
            margin-left: 10%;
        }
        }
            
        
        @media (max-width: 767px) {
            .project-card{
                padding: 30px;
            }
        }

        @media (max-width: 1024px) {
    /* Adjustments for smaller screens */

    .about-card {
        flex-direction: column; /* Stack image and text vertically */
        align-items: center; /* Center align items */
        padding: 0px; /* Increase padding for better spacing */
        margin-top: 5%;
    }

    .about-image {
        width: 400px; /* Decrease width of the image */
        height: 400px; /* Decrease height of the image */
        margin-bottom: 10px; /* Add space below the image */
        margin-left: 5%;
    }

    .about-text {
        width: auto; /* Decrease width of the text */
        padding: 30px; /* Adjust padding */
        font-size: 20px; /* Decrease font size */
        border-radius: 10px;
        
    }

    .about-text h2 {
        font-size: 24px; /* Decrease font size */
    }
}



/* Media query for mobile devices */
@media (max-width: 767px) {
    /* Adjustments for smaller screens */
    nav {
        
        height: auto; /* Allow the navbar to adjust its height */
        border-bottom-left-radius: 30px; /* Remove border radius */
        border-bottom-right-radius: 30px; /* Remove border radius */
        font-size: 10px;
    }

    ul {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 1px;
        margin-left: 5%;
        padding: 1px;
        width: 100%; /* Make the ul cover the entire width */
        height: 100%; /* Match the height of the navbar */
    }
    
    li {
        flex-grow: 1; /* Each list item takes equal space */
    }
    a {
        text-decoration: none;
        color: #bc0505; /* Change as per your design */
        transition: color 0.3s ease, font-size 0.3s ease; /* Add transition for font-size */
        display: flex; /* Allow anchor elements to expand */
        align-items: center; /* Center anchor content vertically */
        height: 100%; /* Match the height of the navbar */
        font-size: 7px;
    }
    
    a:hover {
        font-size: 55%;
        color: #2b0101;}
    }
    
 


@media (max-width: 767px) {

#command-center {
    text-align: center;
    padding: 0 0;
    margin-top: 5%;
}
 #logo {

    border: 25px solid transparent; /* Make border transparent */
    background-image: url('images/Fingerprint\ unlocking\ effect.gif'); /* Replace 'path/to/your/image.jpg' with your image path */
    background-size:initial; /* Adjust size to cover the container */
    background-position: center; /* Position the image in the center */
    border-radius: 50%; /* Make the image round */
    width: 150px; /* Adjust size as needed */
    height: 150px; /* Adjust size as needed */
    object-fit: cover; /* Maintain aspect ratio */
    margin-bottom: 5px;
    border: 5px solid #000000; 
}

#command-center img {

    border: 25px solid transparent; /* Make border transparent */
    background-image: url('images/Fingerprint\ unlocking\ effect.gif'); /* Replace 'path/to/your/image.jpg' with your image path */
    background-size:initial; /* Adjust size to cover the container */
    background-position: center; /* Position the image in the center */
    border-radius: 50%; /* Make the image round */
    width: 150px; /* Adjust size as needed */
    height: 150px; /* Adjust size as needed */
    object-fit: cover; /* Maintain aspect ratio */
    margin-bottom: 5px;
    border: 5px solid #000000; 
}

#command-center p {
    font-family:be;
    font-size: 10px;
    font-weight: 50;
    line-height: 2;
    color: #050505; /* Adjust color as needed */
    max-width: 250px;
    margin: 0 auto;
    
}

#social-media-icons {
    margin-top: 10%;
    

}

#social-media-icons a {
    display: inline-block;
    margin: 0 15px;
    padding: 6px;
    border-radius:5px;
}

#social-media-icons img {
    width: 15px; /* Adjust the size of the icons as needed */
    height: auto;
    border: none;
}
}

@media (max-width: 767px) {
    /* Adjustments for smaller screens */

    .about-card {
        flex-direction: column; /* Stack image and text vertically */
        align-items: center; /* Center align items */
        padding: 0px; /* Increase padding for better spacing */
        margin-top: 5%;
        border-radius:0;
    }

    .about-image {
        width: 300px; /* Decrease width of the image */
        height: 280px; /* Decrease height of the image */
        margin-bottom: 2%; /* Add space below the image */
        margin-left: 5%;
        margin_top:5%;
    }

    .about-text {
        width: 220px; /* Decrease width of the text */
        height: auto;
        padding: 15px; /* Adjust padding */
        font-size: 12px; /* Decrease font size */
        border-radius: 10px;
        
    }

    .about-text h2 {
        font-size: 24px; /* Decrease font size */
    }
}



@media (max-width: 767px) {

 #skills {
    overflow: hidden; /* Ensure the container clears floats */
    margin-top: 5%; /* Add some space above the skills section */
}

.skills-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.big-card {
    width: 80%; /* Adjust the width of the big card */
    max-width: 1000px; /* Limit maximum width */
    padding: 20px; /* Add padding for a frame effect */
    background-color:transparent;/* Background color for the big card */
    border: 4px solid #201f1f; /* Border for the big card */
    border-radius: 30px; /* Rounded corners for the big card */
    background-color: rgba(48, 48, 48, 0.4); /* Background color with 40% intensity */   
    margin-left: 2%;
}

.small-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns */
    gap: 10px; /* Adjust the gap between cards */
}

.skill-card {
    padding: 15px; /* Add padding for a frame effect */
    background-color: rgba(140, 174, 230, 0.9); /* Background color with 40% intensity */
    border-radius: 20px; /* Rounded corners for the small card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a shadow for depth */
    text-align: center; /* Center align text */
    transition: transform 0.3s ease; /* Add transition for smoothness */
}

.skill-image {
    width: 50px; /* Adjust the width of the skill image */
    height: 50px; /* Adjust the height of the skill image */
   
    margin-bottom: 10px; /* Add space below the image */
}

.skill-description {
    color: #000000; /* Text color for the skill description */
    font-size: 10px; /* Font size for the skill description */
    font-weight: bold;
}

.skill-card:hover {
    transform: scale(1.1); /* Zoom effect on hover */
}




.skills-content2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.big-card2 {
    width: 80%; /* Adjust the width of the big card */
    max-width: 1000px; /* Limit maximum width */
    padding: 20px; /* Add padding for a frame effect */
    background-color: transparent;/* Background color for the big card */
    border: 4px solid #201f1f; /* Border for the big card */
    border-radius: 30px; /* Rounded corners for the big card */
    background-color: rgba(48, 48, 48, 0.4); /* Background color with 40% intensity */   
    margin-left: 2%;
    margin-top: 5%;
}

.small-cards2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Adjust the number of columns */
    gap: 10px; /* Adjust the gap between cards */
}

.skill-card2 {
    padding: 15px; /* Add padding for a frame effect */
    background-color: rgba(140, 174, 230, 0.9); /* Background color with 40% intensity */
    border-radius: 20px; /* Rounded corners for the small card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a shadow for depth */
    text-align: center; /* Center align text */
    transition: transform 0.3s ease; /* Add transition for smoothness */
}

.skill-image2 {
    width: 100px; /* Adjust the width of the skill image */
    height: 100px; /* Adjust the height of the skill image */
   
    margin-bottom: 10px; /* Add space below the image */
}

.skill-description2 {
    color: #000000; /* Text color for the skill description */
    font-size: 14px; /* Font size for the skill description */
    font-weight: bold;
}

.skill-card2:hover {
    transform: scale(1.1); /* Zoom effect on hover */
}
}

@media (max-width: 767px) {

#projects {
    margin-top: 50px; /* Adjust margin as needed */
}

#projects {
    overflow: hidden; /* Ensure the container clears floats */
    margin-top: 5%; /* Add some space above the projects section */
}

.projects-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pbig-card {
    width: 80%; /* Adjust the width of the big card */
    max-width: 1000px; /* Limit maximum width */
    padding: 20px; /* Add padding for a frame effect */
    background-color: transparent;/* Background color for the big card */
    border: 4px solid #201f1f; /* Border for the big card */
    border-radius: 30px; /* Rounded corners for the big card */
    background-color: rgba(48, 48, 48, 0.4); /* Background color with 40% intensity */   
    margin-left: 2%;

}

.psmall-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Adjust the number of columns */
    gap: 20px; /* Adjust the gap between cards */
}

.project-card {
    padding: 20px; /* Add padding for a frame effect */
    background-color: rgba(140, 174, 230, 0.9); /* Background color with 40% intensity */
    border-radius: 10px; /* Rounded corners for the small card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a shadow for depth */
    text-align: center; /* Center align text */
    transition: transform 0.3s ease; /* Add transition for smoothness */
}

.project-image {
    width: 50px; /* Adjust the width of the project image */
    height: 50px; /* Adjust the height of the project image */
    border-radius: 50%; /* Make the image circular */
    margin-bottom: 10px; /* Add space below the image */
}

.project-description {
    color: #000000; /* Text color for the project description */
    font-size: 14px; /* Font size for the project description */
    font-weight: bold;
}

.project-card:hover {
    transform: scale(1.1); /* Zoom effect on hover */
}
}

@media (max-width: 767px) {
    /* Adjustments for smaller screens */

    .contact-icons {
        display: flex; /* Change display to flex */
        justify-content: center; /* Center-align icons horizontally */
        margin-top: 2%; /* Adjust margin */
    }

    .contact-icons a {
        display: inline-block;
        margin: 0 20px; /* Adjust spacing between icons */
    }

    .contact-icons img {
        width: 30px; /* Adjust the size of the icons as needed */
        height: auto;
    }
}
@media (max-width: 767px) {
 .body{
    padding-top: 50px;
 }
}

@media (max-width: 767px) {
.pbig-card {
    margin-left: 0%;
}
}
